<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    * {
      padding: 0%;
      box-sizing: border-box;
      margin: 0%;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
    }
    :root {
      --dark: rgb(43, 41, 42);
      --light: #ffffff;
      --light2: #cccccc;
    }
    nav {
      /* background: url("/images/download.png"); */
      width: 100%;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      height: 25vh;
      display: flex;
      flex-direction: column;
      color: var(--light);
    }
    .nav-content {
      margin: 0px 6vw;
      height: 100%;
      position: relative;
      z-index: 11;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    nav span {
      font-weight: bolder;
      font-size: 30px;
    }
    nav a {
      color: var(--light);
    }
    .dark {
      width: 100%;
      height: 25vh;
      top: 0;
      z-index: 10;
      left: 0;
      position: absolute;
      background: rgb(0, 0, 0, 0.7);
    }
    /*  */
    main {
      min-height: 75vh;
      display: flex;
      flex-direction: column;
      width: 100%;
      background: var(--dark);
      justify-content: center;
      align-items: center;
    }
    main .card-list {
      margin: 0px 6vw;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    }
    .card {
      padding: 20px;
      height: fit-content;
      color: var(--light);
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .card:not(:last-child) {
      border-bottom: 2px solid rgb(199, 199, 199);
    }
    .card img {
      width: 100px;
      height: 150px;
    }
    .card-content {
      display: flex;
      width: 70%;
      gap: 10px;
      flex-direction: column;
    }
    .time-gu {
      display: flex;
      align-items: center;
      gap: 0px 20px;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
    }
    .rm-fiv {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .gan,
    .time-du,
    .rm-fiv {
      color: #111827;
      font-size: 12px;
      color: var(--light);
    }
    .movie-des {
      font-size: 14px;
      color: #6b7280;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      color: var(--light2);
      text-overflow: ellipsis;
    }
    .star-rate span {
      font-size: 12px;
    }
    .top-title-rate {
      align-items: center;
      display: flex;
      gap: 10px;
    }
    .empty-watchlist {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: white;
      flex-direction: column;
    }
    .empty-watchlist a {
      cursor: pointer;
      color: white;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  </style>
  <body>
    <div class="conteniar">
      <nav>
        <div class="nav-content">
          <span>My Watchlist</span>
          <a href="/">Search for movies</a>
        </div>
        <div class="dark"></div>
      </nav>

      <main>
        <div class="empty-watchlist">
          <p>Your watchlist is looking a little empty...</p>
          <a href="/"
            ><svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18ZM10.125 5.625C10.125 5.00368 9.62132 4.5 9 4.5C8.37868 4.5 7.875 5.00368 7.875 5.625V7.875H5.625C5.00368 7.875 4.5 8.37868 4.5 9C4.5 9.62132 5.00368 10.125 5.625 10.125H7.875V12.375C7.875 12.9963 8.37868 13.5 9 13.5C9.62132 13.5 10.125 12.9963 10.125 12.375V10.125H12.375C12.9963 10.125 13.5 9.62132 13.5 9C13.5 8.37868 12.9963 7.875 12.375 7.875H10.125V5.625Z"
                fill="white"
              />
            </svg>
            Let’s add some movies!</a
          >
        </div>
        <div class="card-list"></div>
      </main>
    </div>
    <script>
      let emptyWatchlist = document.querySelector(".empty-watchlist");
      let cardList = document.querySelector(".card-list");
      let watchlistData = [];
      watchlistData = JSON.parse(localStorage.getItem("watchListData"));
      function renData() {
        if (watchlistData.length > 0) {
          emptyWatchlist.style.display = "none";
          watchlistData.forEach((data) => {
            let dataIndex = watchlistData.indexOf(data);
            movieDataGene(data, dataIndex);
          });
        }
      }
      function movieDataGene(data, dataIndex) {
        const parentCard = document.createElement("div");
        parentCard.classList.add("card");
        const cardImage = document.createElement("img");
        cardImage.src = data.Poster;
        const cardContent = document.createElement("div");
        cardContent.classList.add("card-content");
        const topTitleRateElement = document.createElement("div");
        topTitleRateElement.classList.add("top-title-rate");
        topTitleRateElement.innerHTML = `<span class="title">${data.Title}</span>
                    <div class="star-rate">
                      <svg
                        width="13"
                        height="12"
                        viewBox="0 0 13 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M5.78671 1.19529C6.01122 0.504306 6.98878 0.504305 7.21329 1.19529L8.01547 3.66413C8.11588 3.97315 8.40384 4.18237 8.72876 4.18237H11.3247C12.0512 4.18237 12.3533 5.11208 11.7655 5.53913L9.66537 7.06497C9.40251 7.25595 9.29251 7.59447 9.39292 7.90349L10.1951 10.3723C10.4196 11.0633 9.62875 11.6379 9.04097 11.2109L6.94084 9.68503C6.67797 9.49405 6.32203 9.49405 6.05916 9.68503L3.95903 11.2109C3.37125 11.6379 2.58039 11.0633 2.8049 10.3723L3.60708 7.90349C3.70749 7.59448 3.59749 7.25595 3.33463 7.06497L1.2345 5.53914C0.646715 5.11208 0.948796 4.18237 1.67534 4.18237H4.27124C4.59616 4.18237 4.88412 3.97315 4.98453 3.66414L5.78671 1.19529Z"
                          fill="#FEC654"
                        />
                      </svg>
                      <span>${data.imdbRating}</span>
                    </div>`;

        const timeGuDiv = document.createElement("div");
        timeGuDiv.classList.add("time-gu");

        const timeGuSpan = document.createElement("span");
        timeGuSpan.innerHTML = `<span class="time-du">${data.Runtime}</span>`;
        const genreSpan = document.createElement("span");
        genreSpan.innerHTML = `<span class="gan">${data.Genre}</span>`;
        const rmButton = document.createElement("span");
        rmButton.classList.add("rm-fiv");
        rmButton.innerHTML = ` <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM5 7C4.44772 7 4 7.44772 4 8C4 8.55228 4.44772 9 5 9H11C11.5523 9 12 8.55229 12 8C12 7.44772 11.5523 7 11 7H5Z"
                      fill="#111827"
                    />
                  </svg>
                  Watchlist`;
        rmButton.addEventListener("click", () => {
          watchlistData.splice(dataIndex, 1);
          console.log(watchlistData);
          localStorage.setItem("watchListData", JSON.stringify(watchlistData));
          renData();
          location.reload();
        });

        const movieDescription = document.createElement("p");
        movieDescription.classList.add("movie-des");
        movieDescription.textContent = data.Plot;

        timeGuDiv.appendChild(timeGuSpan);
        timeGuDiv.appendChild(genreSpan);
        timeGuDiv.appendChild(rmButton);

        cardContent.append(topTitleRateElement);
        cardContent.append(timeGuDiv);
        cardContent.append(movieDescription);

        parentCard.appendChild(cardImage);
        parentCard.appendChild(cardContent);
        cardList.appendChild(parentCard);
      }
      renData();
    </script>
  </body>
</html>
